.container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.container figure img {
    height: 40rem !important;
    width: 32rem !important;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 35px 16px 0px rgba(0, 0, 0, 0.1);
}

.container figure img:hover {
    height: 41rem !important;
    width: 33rem !important;
    box-shadow: 0px 35px 16px 0px rgba(0, 0, 0, 0.205);
}

.title {
    width: 100% !important;
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
    margin: 3rem auto;
    text-shadow: 3px 3px 3px #00000034;
}

figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 34rem;
    height: 42rem;
}

figure figcaption h1 {
    text-align: center;
    font-size: 4rem;
    color: white;
    text-shadow: 3px 3px 3px #00000034;
    transition: 1s;
}

figure figcaption {
    position: relative;
    top: -7rem;
}

footer {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    color: rgb(136, 136, 136);
}